body {
  background: #050b18;
  font-family: Arial;
  text-align: center;
  color: white;
}

h1 {
  color: cyan;
}

.card {
  background: #111827;
  display: inline-block;
  padding: 25px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px cyan;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px 20px;
  margin: 8px;
  border: none;
  border-radius: 12px;
  background: cyan;
  font-weight: bold;
  cursor: pointer;
}

img {
  margin-top: 15px;
  border-radius: 10px;
}
