body {
  background:#0b0f1a;
  color:white;
  font-family:Arial;
  text-align:center;
}
h1 {color:cyan;}
.grid {
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:30px;
}
.card {
  background:#111827;
  padding:25px;
  border-radius:20px;
  width:320px;
  box-shadow:0 0 20px cyan;
}
button {
  margin:10px;
  padding:12px 20px;
  border:none;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
}
.qr-box {display:none;}
.admin-only {display:none;}
input {
  padding:10px;
  width:90%;
  margin:5px;
  border-radius:10px;
}
