body {
  background: #050b1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: cyan;
  margin-top: 30px;
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.box {
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  background: #0b1225;
  box-shadow: 0 0 20px cyan;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.qr-box {
  display: none;
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}
