body {
  margin: 0;
  font-family: Arial;
  background: #050b1a;
  color: white;
  text-align: center;
}

.titulo {
  font-size: 45px;
  margin-top: 30px;
  color: cyan;
  text-shadow: 0 0 20px cyan;
}

.rol {
  margin-bottom: 30px;
  color: white;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-pro {
  background: #0c142b;
  width: 350px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 25px cyan;
}

.card-pro h2 {
  color: yellow;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  background: cyan;
  font-weight: bold;
}

.qr-img {
  margin-top: 20px;
  width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.admin-box {
  background: #111b35;
  margin: 20px auto;
  padding: 25px;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 25px lime;
}

.files span {
  display: block;
  font-size: 18px;
  margin: 5px;
  color: lime;
}

.btn-repo {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 25px;
  border-radius: 15px;
  background: lime;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.whatsapp {
  margin-top: 40px;
}

.btn-wsp {
  padding: 18px 35px;
  font-size: 20px;
  border-radius: 20px;
  background: lime;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.logout {
  margin-top: 30px;
}

.btn-salir {
  padding: 12px 25px;
  border-radius: 15px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
